
body {
 background-color : #FFCC66;
}

h1 {
	color: blue;
	--background-color: white;
}
h2{
color: gray;	
}

p {
	color: black;
}

img
{
	width:200px;
	height:280px;
}
#imagen-portada 
{
	width: 200px;
	height: 280px;
}

span.rojo
{
	color:red;
}

table
{
	padding-left: 30px;
}